<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ФИО</title>
    <style>
        .notebook {
            display: flex;
        }

        .menu {
            padding: 20px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            cursor: pointer;
        }

        textarea {
            flex: 1;
            height: 200px;
            margin: 20px;
        }

        button {
            margin-left: 20px;
        }
    </style>
    <!— Подключение Vue 3 с CDN —>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">

        <h2>Выберите ваш родной язык:</h2>

        <label>
            <input type="radio" v-model="selectedLanguage" value="Русский">
            Русский
        </label>

        <label>
            <input type="radio" v-model="selectedLanguage" value="Английский">
            Английский
        </label>

        <label>
            <input type="radio" v-model="selectedLanguage" value="Французский">
            Французский
        </label>

        <p>Ваш родной язык: {{ selectedLanguage }}</p>
    </div>


    </div>
    <script src="script.js"></script>
</body>

</html>